*{
    margin: 0;
}
.header{
    background-color: red;
    text-align: center;
    height: 80px;
    width: 100%;
}
.banner{
    background-color:rgb(96, 235, 156);
    text-align: center;
    height: 150px;
    width: 100%;

}
.left_content{
    background-color:rgb(96, 152, 235);
    text-align: center;
    height: 140px;
    width: 50%;
    float: left;

}
.right_content{
    background-color:rgb(226, 230, 10);
    text-align: center;
    height: 140px;
    width: 50%;
    float: right;

}
.content{
    overflow: hidden;
}
.item_one{
    background-color:rgb(230, 10, 94);
    text-align: center;
    height: 110px;
    width: 33.33%;
    float: left;



}
.item_two{
    background-color:rgb(179, 10, 230);
    text-align: center;
    height: 110px;
    width: 33.33%;
    float: left;

}
.item_three{
    background-color:rgb(47, 230, 10);
    text-align: center;
    height: 110px;
    width: 33.33%;
    float: right;

}
.contain_two{
    overflow: hidden;
}
.footer{
    background-color: tomato;
    text-align: center;
    height: 80px;
    width: 100%;
}